@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Friendes Library</h1>
    <p> In this library Frinds share their books to read and reaturn back </p>
</div>
