@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/css/photo.jpg" />
        <br />
        <br />
        <p> In this library Friends share their books to read and return back to the library </p>

    </div>
